<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="userid" value="pradip.patil@pratititech.com"></parameter>
	  <parameter name="userpassword" value="King@123"></parameter>
	  
	  <parameter name="enterEmail" value="pradippatil1543@gmail.com"></parameter>

    <classes>
		
		<class name="test.TimeZoneTest"></class>
		
       
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
